#Pheadline {
    /* padding-top: 1.5vh;
    bottom: 2%;*/
    text-align: center; 
    font-size: calc(.5rem + 2vw);
    font-family: fantasy;
   
}

#Pheadline a {
    text-decoration: none;;
     color: rgb(180, 17, 17);
}

#lotus {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#buddha {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#alien {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

