body {background-color: rgb(0, 0, 0);}

#headline {
    margin-left: 44%;
    /* padding-top: 1.5vh;
    bottom: 2%;
    text-align: center; */
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1; 
    font-size: 2vw;
    font-family: fantasy;
    text-decoration: none;
   
    color: rgb(180, 17, 17);
}

p {
    color:rgb(197, 197, 197);
    text-align: center;
}
p1 {
    color:rgb(197, 197, 197);
    margin-left: 45.5%;\
    
}